<link rel="import" href="kudos-list.html">
<dom-module id="kudos-app">
<style is="custom-style">
  .paper-header {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0 10px;
    color: white;
    transition: height 0.2s;
    background-color: blue !important;
  }
  paper-card {
    width: 100%;
    margin:10px;
  }
  paper-card.rate { 
    @apply(--layout-horizontal); 
  }
  .rate-content {
    width: 100%;
    @apply(--layout-flex);
    float: left;
  }
  .rate-header { @apply(--paper-font-headline); }
  .rate-name { color: var(--paper-grey-600); margin: 10px 0; }
  paper-icon-button.rate-icon {
    --iron-icon-fill-color: white;
    --iron-icon-stroke-color: var(--paper-grey-600);
    cursor: pointer;
  }
  paper-icon-button.rate-icon:hover{
    background-color: yellow !important;
    color: blue;
  }
  paper-icon-button.rate-ico[active]{
    background-color: yellow !important;
  }
  
</style>
    <template >
    	<app-toolbar class="layout horizontal" style="color:#fff;background-color:#094fa4;">
    		<paper-icon-button icon="menu" width="40px"></paper-icon-button>
    		<div main-title style="display:flex;flex:1;">Kudos</div>
    		<paper-icon-button icon="search" width="40px"></paper-icon-button>
    	</app-toolbar>
      <template id="resultList" is="dom-repeat" items="{{projects}}" as="project">
        <paper-card class="rate">
          <div class="rate-content">
            <div class="card-content">
              <div class="rate-header">{{project.nombre}}</div>
              <div class="rate-name">@{{project.team}}</div>
              <div>{{project.descripcion}}</div>
            </div>
            <kudos-list project="{{project}}" _firebase="{{_firebase}}"></kudos-list>
        </paper-card>
      </template>

    </template>
</dom-module>
<script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>
<script>
    Polymer({
      is: 'kudos-app',
      properties:{
          projects:{
            type: Array,
            notify:true
          },
          kudos:Array,
          _firebase:Object,
          order:String
      },
      ready:function() {
          var config = {
              apiKey: 'AIzaSyBiBdm3MheV4sN7lfk0WLoVDtXXxHxbbvk',
              authDomain: 'devnovators.firebaseapp.com',
              databaseURL: 'https://devnovators.firebaseio.com',
              storageBucket: 'devnovators.appspot.com'
          };
          firebase.initializeApp(config);
          this.order="n";
          this._firebase=firebase;
          //this.getKudos();
          this.refresh();
          this.$.resultList.render();
          //this.aumentar(firebase.database().ref('projects/patxatm'))
      },
      getKudos:function(){
        var that = this;
        this.kudos = [];
        this._firebase.database().ref('/kudos').once('value').then(function(snapshot) {
          snapshot.forEach(function(child) {
            var kudo = child.val();
            kudo.count=0;
            kudo.key=child.key;
            that.push('kudos', kudo);
          });
        });
      },
      refresh:function(){
        var db = this._firebase.database();
        var ref = db.ref("/projects");
        var that = this;
        that.projects = [];
        ref.on("value", function(snapshot) {
          snapshot.forEach(function(child) {
            var project = child.val();
            project.id=child.key;
            that.push('projects', project);
          });
        });
      },
      //aumentar:function(postRef) {
      //    postRef.transaction(function(project) {
      //      if (project) {
      //        project.stars++;
      //      }
      //      return project;
      //    });
      //  }
    });
</script>