<dom-module id="kudos-list">
<style is="custom-style">
  .rate-content {
    width: 100%;
    @apply(--layout-flex);
    float: left;
  }
  .rate-header { @apply(--paper-font-headline); }
  .rate-name { color: var(--paper-grey-600); margin: 10px 0; }
  paper-icon-button.rate-icon {
    --iron-icon-fill-color: white;
    --iron-icon-stroke-color: var(--paper-grey-600);
    cursor: pointer;
  }
  paper-icon-button.rate-icon:hover{
    color: blue;
  }
  paper-icon-button.rate-ico:active{
    background-color: yellow !important;
  }
  .blue {
    --paper-badge-background: var(--paper-light-blue-300);
  }
  paper-button.kudo:hover {
    background-color: #FAB96D;
  }
  paper-button.kudo {
    background-color: #FFF5E0;
    color: white;
    width:40px!important;
    height:40px!important;
    border-radius: 50%;
    min-width: 40px!important;
    margin: 5px; 
  } 
  paper-button.kudo[active] {
    background-color: #82C82D;
  }
</style>
<template>
    <div class="card-actions">
      <template id="tmtKudo" is="dom-repeat" items="{{kudos}}" as="kudo">
        <paper-button class="kudo" toggles active="{{kudo.toggle}}" raised id="{{kudo.id}}" on-tap="votar">
          <iron-icon icon="{{kudo.icon}}"></iron-icon>
        </paper-button>
        <paper-dialog id="{{kudo.id}}" entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">
          <h2>{{kudo.title}}</h2>
          <div>{{kudo.description}}</div>
        </paper-dialog>
        <!--paper-tooltip for="{{kudo.id}}" position="top" style="max-width:100px;">{{kudo.title}}<br> {{kudo.description}}</paper-tooltip-->
        <paper-badge for="{{kudo.id}}" label="{{kudo.count}}" class="blue"></paper-badge>
      </template>
    </div>
</template>
</dom-module>
<script>
  Polymer({
    is: 'kudos-list',
    properties:{
      project:{
        type:Array,
        notify: true
      },
      kudos:{
        type:Array,
        notify: true
      },
      _firebase:Object,
      _user:{
        type:String
      }
    },
    attached:function(){
      this.getKudos();
    },
    getKudos:function(){
      var self = this;
      var projKudos = this.project.kudos;
      this.kudos = [];
      //var template = document.querySelector('tmtKudo'); // Use specific selector here
      this._firebase.database().ref('/kudos').once('value').then(function(snapshot) {
        snapshot.forEach(function(child) {
          var kudo = child.val();
          kudo.type = "plus";
          kudo.toggle = false;
          self._firebase.database().ref('/users').child(self._user).child('votaciones').child(self.project.id).child('kudos').orderByChild("voto").equalTo(child.key).on("child_added", function(kudosUsuario) {
            kudo.type = "minus";
            kudo.usuarioKey = kudosUsuario.key;
            kudo.toggle = true;
            //template.iterator_.updateIteratedValue(); // Force Polymer to refresh template
          });
          kudo.count=0;
          if (projKudos && !(typeof projKudos[child.key] === "undefined")){
            kudo.count=projKudos[child.key];  
          }
          self.push('kudos', kudo);
        });
      });
    },
    votar:function(e) {
      var kudoSeleccionado = e.model['__data__'];
      var idKudo = kudoSeleccionado.kudo.id;
      var voto = 1;
      if (kudoSeleccionado.kudo.type === "minus"){
        voto = -1;  
      }
      var postRef = this._firebase.database().ref('/projects').child(this.project.id).child('kudos').child(idKudo);
      postRef.transaction(function(votoActual) {
        if (votoActual) {
          return votoActual+voto;
        } else {
          return 1;
        }
      });
      var refControl = this._firebase.database().ref('/users').child(this._user).child('votaciones').child(this.project.id).child('kudos');
      if(voto > 0) {
        var nuevoElemnto = refControl.push();
        nuevoElemnto.set({
          voto: idKudo
        });
        kudoSeleccionado.kudo.usuarioKey = nuevoElemnto.key;
        kudoSeleccionado.kudo.type = "minus";
        this.$[kudoSeleccionado.kudo.id].open();
      } else {
        this._firebase.database().ref('/users').child(this._user).child('votaciones').child(this.project.id).child('kudos').child(kudoSeleccionado.kudo.usuarioKey).remove();
        kudoSeleccionado.kudo.usuarioKey = "";
        kudoSeleccionado.kudo.type = "plus";
      }
    }
  });
</script>